{% load static %}
<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}
      <label>Name: </label>
      <input type="text" placeholder="Name" name="name" required /><br />
      <label>Birth Day: </label>
      <input type="date" id="birthday" name="birthday" required /><br />
      <div class="movies">
        <h4>Select Movies</h4>
        <div class="sub_movie" onclick="">
          <p>M1</p>
          <input type="checkbox" name="m" value="m1"  />
        </div>
        <div class="sub_movie" onclick="">
          <p>M2</p>
          <input type="checkbox" name="m" value="m2" />
        </div>
      </div>
      <div class="movies">
        <h4>Days</h4>
        <div class="sub_movie" onclick="">
          <p>Saturday</p>
          <input type="checkbox" name="d" value="saturday"  />
        </div>
        <div class="sub_movie" onclick="">
          <p>Sunday</p>
          <input type="checkbox" name="d" value="sunday" />
        </div>
      </div>


      <div class="movies">
        <h4>Time</h4>
        <div class="sub_movie" onclick="">
          <p>10 - 12</p>
          <input type="checkbox" name="t" value="10-12"  />
        </div>
        <div class="sub_movie" onclick="">
          <p>4 - 6</p>
          <input type="checkbox" name="t" value="4-6" />
        </div>
      </div>
      <label>Number of Ticket: </label>
      <input type="text" placeholder="Number of Ticket" name="ticket" required /><br />
      
      <button class="btn" type="submit">Submit</button>
    </form>
  </body>
</html>
